<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <title>List</title>
</head>
<body>  
  <%- include('menu.html') %>

<!-- 게시판 -->
  <!-- 
    <h1>EJS/ 게시판 리스트</h1>
    <% for(let i = 0; i < data.length; i++) {%>
        <h3>제목: <%= data[i].title  %></h3>
        <h4>내용: <%= data[i].content  %></h4><br />
      <% } %>  
  -->

  <div class="container input-group ml-2 my-3">
    <form class="d-flex" role="search">
      <input class="form-control me-2 sword" type="search" placeholder="검색어 입력" aria-label="Search"/>
      <button class="btn btn-outline-success sbtn" type="submit">검색하기</button>
    </form>
  </div>


  <table class="table table-hover table-striped text-center container mt-4"
      style="border: 1px solid black"
  >
    <thead>      
        <tr>
          <th>제목</th>
          <th>작성일</th>
          <th>삭제</th>
        </tr>      
    </thead>
    <tbody>
      <%for(let i = 0; i < data.length; i++) {%>
        <tr>
          <td>
            <a href="/content/<%= data[i]._id %>">
              <%= data[i].title %>
            </a>
          </td>
          <td><%= data[i].date %></td>
          <td><button class="delete btn btn-outline-danger" 
            data-id='<%= data[i]._id %>'
            >삭제</button></td>
        </tr>
      <%}%>      
    </tbody>
  </table>

  <div class="container my-3">
    <button class="btn btn-primary enter" style="float:right">글쓰기</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    $('.delete').click(function(e) {      
      let sid = e.target.dataset.id;

      let item = $(this);

      $.ajax({
        // 요청방식 (get, post, put, delete)
        type: 'post',
        // 요청경로(/delete)
        url: '/delete',      
        // 서버로 보낼 데이터 (_id)
        data: {_id: sid}
      }).done(function(result) {
        // 성공 시
        // location.reload() // 전체 로딩은 비효율적
        item.parent('td').parent('tr').remove();
      }).fail(function(xhr, textStatus, errorThrown){
        // 실패 시
        console.log('게시물 삭제 실패');
        console.log(xhr, textStatus, errorThrown);
      })
    })
    $('.enter').click(function(e) {
      location.href='/enter';
    })
    $('.sbtn').click(function(e) {
      e.preventDefault(); // ✅ form submit 막기
      let inputvalue = $('.sword').val();
      location.href = '/search?value=' + inputvalue; // ✅ 변수명 소문자 그대로
    })
  </script>

</body>
</html>